html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto Mono
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

a {
  color: #9a6ffd;
  font-weight: bold;
}

a:hover {
  color: #00ffff;
}

a:visited {
  color: #fe14fd;
}


.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerdiv{
    padding: 28px;
}

.navbar  {
  width:100vw;
  max-width: 1290px;
  padding: 10px;
  position: fixed;
  top: 0;

}

.MuiButton-label {
  text-transform: lowercase;
  justify-content: center;
  font-size: 20px;
  font-weight: 400;
  font-family: Roboto Mono !important;
  overflow: hidden; 
}

hr {
  color: rgb(36,36,36);
  margin-left: 25px;
  margin-right: 25px;
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.990), rgba(0, 0, 0, 0.990), rgba(0, 0, 0, 0.990));
}


.buttons {
display: flex;
justify-content: flex-end;
color: #9a6ffd;
padding-right: 25px;
padding-top: 4px;
overflow: hidden; 
}

.logo {
display: flex;
justify-content: flex-start;
float: left;
padding-left: 25px;
overflow: hidden; 
}

.line {
  width:100vw;
  max-width: 1290px; 
  margin-top: -5px;
  display: inline;


}

.description {
  font-size: xx-large;
}

.Footer_footer__1_BW4 {
  position: fixed;
  bottom: 0;
}
