html,
body {
  padding-left:0px 0px 0px 25px;
  margin: 0px;
  font-family: Roboto Mono;
  margin-top: 30px;
  min-width: 300px; /* 100px x3 = 300 */
  background-image: url("/mountains.png");

  background-size: cover;

  

  
  /*background-color:#b1ffed; */
}

* {
  box-sizing: border-box;
}


main {

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.content {
  text-align: left;
  max-width: 1450px; 


}

a {
  
  color: #8A2BE2;
  text-decoration: none;

}


a:hover {
  text-decoration: none;
  color: #fe14fd;
  font-weight: 600;
  text-shadow: 0.01vh 0.1vh 0.1vh #000;

}



h1 {
  font-size: calc(1.7vw * 60%);
  font-weight: 400;
  padding: 25px;
  margin: 5px;;
  
  text-align: center;
}

h2 {
  font-size: calc(1.3vw + 60%);
  font-weight: 400;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;

}


h3, h4 {
  max-width: 1450px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: calc(1vw + 60%);
  margin-bottom: 0;
  margin-top: 10px;
  font-weight: 500;

}

p {
  max-width: 1450px;

  padding-right: 25px;
}

p.title {
  padding-left: 0.11vw;
  font-size: calc(1vw + 40%);
}






.navbar  {
  display: block;
  width:100vw;
  max-width: 1450px;
  padding: 10px 0 0px 0;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
}

.filler {
  border-bottom: #172026;
  border-bottom-style:solid ;
  border-width: 0.01em;
  background-color: white;
  width: 115vw;
  height: 70px;
  position:fixed;
  top: 0;
  z-index: 10;

}


.buttons-box {
font-size:25px;
display: flex;
justify-content: flex-end;
color: #9a6ffd;
padding-right: 5px;
overflow: hidden; 
padding: 7px 25px 0 0;
}

div.buttons-box a {
  margin-left: 20px

}



.logo {
display: flex;
justify-content: flex-start;
float: left;
padding-left: 25px;
overflow: hidden;
}




.Footer_footer__1_BW4 {
  position: fixed;
  bottom: 0;
}

.description {
  font-size: normal;

}

@media screen and (min-width: 601px) {
  table {
    font-size: 0.7vw;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  body {
    padding:0px 0px 0px 25px;
  }
  table {
    font-size: 2vw;
  }
}



 table {
  border-top:1px solid #eff2f5;
  width: 100%;
  table-layout: fixed;
  max-width: 1450px; 
  border-collapse: collapse;
}

td {
  border-top:1px solid #eff2f5;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 12.5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  
 }

 tr:hover{
  background-color: #f6f6f6;
 }

 th {
  padding: 12.5px;
  overflow: hidden;

  text-overflow: ellipsis;
 
  
 }

 th.number, td.number {
   width: 5%;
 }

 .box{
  border-radius: 5px;

  margin: 5px ;
  min-height: 906px;
  background-color: white;
  padding: 0 0 0 0.9vw;
  
 }



 .graph-box{
  margin:5px;
  border-radius: 5px;
  box-shadow:  rgba(88, 102, 126, 0.08) 0px 4px 24px, rgba(88, 102, 126, 0.12) 0px 1px 2px;
  border-width: 1px;
  padding: 0 0 0 0.9vw;
  background-color: white;
 }



 .titlebox {
   padding:12px;
 }

 .icon {
    display: flex;
    justify-content: flex-start;
    float: left;
    padding-right: 2vh;
    height: 100%;
    font-size: calc((1vw + 140%));
 }

 .title {
   display: flex;
   margin-top: 0;
 }


 .dark-header {
   background-color: #172026;
   margin-top: 30px;
   width: 100vw;
   min-height: 50vh;
   color: white;
   display: flex;
   flex-direction: column;
   align-items: center;

 }

 .light-header {

  margin-top: 30px;
  width: 100vw;


  color: #0e0333;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;

}

.white-highlight {
  margin-left: 1.9em;
}

.no-margin {
  margin-left: -9em;

}

.white {
  color: white;
  font-weight: 200;

} 
span.white:hover {
  color: #0fefba;
  text-shadow: 1px 1px 1px #000;

 
  font-weight:1000;
}

a.green {
  color: white;
  font-weight: 300;

  margin-left: 11em;

  margin-top: -2.5em;

  padding: 0.5em;
  border: white;
  border-style: solid;
  border-width: 0.05em;

  box-shadow:  1px;
  box-shadow: #16ebb6 (88, 102, 126, 0.08) 0
}
a.green:hover{
  text-shadow: 1px 1px 1px #000;
  box-shadow: 1px 1px 1px #000;
  color: white;
  font-weight: 600;
  border-color: #0fefba;
  background-color:#0fefba;
}

.slides {
  width: auto;
  padding: 1em;
}

 .hero {
   font-size: calc(5vw + 150%);
   font-weight: 800;
  
 }
 .row {
   flex-direction: row;
   flex-wrap: wrap;
   text-align: center;
   width: 100%;
   
 }

 .info-box {
  color: #172026;
  width: 30%;
  height: auto;
  min-width: 300px;
  text-align: center;
  border-style:solid;
  border-width:0.001ch;
  display: inline-block;
  margin: 10px 10px 90px 10px;
  padding: 10PX;
  border-radius: 10px;
 
 }



 .aqua-border {
  border-color: #46ebff;
  background-color: #46ebff;
 }
 .pink-border {
  border-color:#fe14fd ;
  background-color:#fe14fd ;
}
.purple-border {
  border-color:#9A6DF8;
  background-color:#9A6DF8 ;
}

a.aqua {
  border-color: white !important;
  color:#172026;
}
a.purple {
  border-color:white !important;
  color: black;
}
a.pink {
  border-color:white !important;
  color: black;
}
a.aqua:hover {
  border-color: #C7F9FF !important;
  background-color: #C7F9FF;

}
a.pink:hover {
border-color: #FFBDE0!important;
background-color: #FFBDE0 !important

}
a.purple:hover {
background-color: #E4D8FD;
border-color: #E4D8FD !important;

}

.signupbox {
  color: white;
  text-align: center;
}

a.button{
  color: white;
  font-weight: 300;
  margin-right: 7px;
  

  padding: 0.5em;
  border: white;
  border-style: solid;
  border-width: 0.05em;
  box-shadow:  1px;
  box-shadow: #16ebb6 (88, 102, 126, 0.08) 0
  }
  a.button:hover{
    text-shadow: 1px 1px 1px #000;
    box-shadow: 1px 1px 1px #000;
  color:white;
  font-weight: 800;
  border-color:#8A2BE2;
  background-color: #8A2BE2;

  }
  @media all and (max-width:30em){
  a.button{
    color: white;
    font-weight: 300;
  

    
    margin-top: -2.5em;
  
    padding: 0.5em;
    border: white;
    border-style: solid;
    border-width: 0.05em;
  
    box-shadow:  1px;
    box-shadow: #16ebb6 (88, 102, 126, 0.08) 0
  }

}
  